<app-tyreindex></app-tyreindex>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>
<div><h1 id="one">welcome to home</h1></div>